<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="main-navbar">
        <div class="logo">
            Traveler <b class="highlight-word">No.1</b>
        </div>
        <div class="hamburger" id="activeNavBtn">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="navbar" id="navbar">
            <ul class="u-list">
                <li class="list"><a class="a-link" href="../../index.html">หน้าแรก</a></li>
                <li class="list active"><a class="a-link" href="./src/views/travel.html">สถานที่ท่องเที่ยว</a></li>
                <li class="list"><a class="a-link" href="">อาหารสุดแสนอร่อย</a></li>
                <li class="list"><a class="a-link" href="">เกี่ยวกับเรา</a></li>
            </ul>
            <div class="sign-btn">
                <button class="btn btn-primary">สมัครสมาชิก</button>
            </div>
        </nav>
    </header>
    <article class="main cafe">
        <a href="travel.html" class="button-back">
            <i class='bx bxs-left-arrow'></i>
        </a>
        <div class="featur">
            <div class="promote-text">
                <p class="paragrhap header">• คาเฟ่ •</p><br>
                <h1 class="header-text">คาเฟ่</h1>
                <h1 class="header-text">เหมี๋ยวเหมี๋ยว</h1><br>
                <p class="paragrhap">
                    อาหารอร่อย กาแฟกลมกล่อม ไกล้ MRT ย่านบางกะปิ<br>
                    พร้อมวิวอันสวยงามสไตล์ยุโรป จะถ่ายรูปมุมไหนก็สวย<br>
                    เหมาะสำหรับสายคาเฟ่ เตรียมตัวแล้วไปกัน
                </p>
                <footer class="footer">
                    <span class="text">รวมคะแนนจากผู้ใช้บริการ</span>
                    <div class="point">
                        <div class="element">10</div>
                        <div class="line"></div>
                        <div class="element">10</div>
                    </div>
                </footer>
            </div>
            <div class="promote-image">
                <div class="image-container">
                    <img src="../assets/cafe1.png" alt="" class="image">                    
                </div>
                <div class="image-container">
                    <img src="../assets/S__2433035.jpg" alt="" class="image">
                </div>
                <div class="image-container">
                    <img src="../assets/S__2433036.jpg" alt="" class="image">
                </div>
            </div>
        </div>
    </article>
</body>
</html>