// fonts
@font-face {
    font-family: kanit;
    src: url(../fonts/KANIT-REGULAR.TTF);
}
@font-face {
    font-family: kanit_thin;
    src: url(../fonts/KANIT-THIN.TTF);
}

// color
$backrgound-base-color: #222222;
$primary-color: #0275d8;
$warning-color: #f0ad4e;
$success-color: #5cb85c;
$danger-color: #d9534f;
$info-color: #5bc0de;
$cafe-theme-color: #97806B;
$cafe-theme-seconds-color: #554A43;


// size 
:root {
    --nav-height: 90px;
}

// mixin
@mixin button($bg-color) {
    background: $bg-color;
    color: #fff;
    &:hover {
        background: darken($bg-color, 10%);
    }
}

// global style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kanit;
}
body {
    overflow: hidden; /* Hide any content that overflows */
    overflow-y: scroll; /* Allow vertical scrolling */
    
}
body::-webkit-scrollbar {
    display: none;
}
// button
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 3px;
    font-size: 18px;
    font-weight: 500;
    width: 180px;
    transition: .2s;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary {
    @include button($primary-color);
}

// navbar 
header.main-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $backrgound-base-color;
    height: var(--nav-height);
    position: sticky;
    top: 0;
    z-index: 1;
}
header.main-navbar .logo {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 20px;
    color: #fff;
}
header.main-navbar .logo .highlight-word {
    color: $info-color;
}
header.main-navbar .hamburger {
    display: flex;
    flex-direction: column;
    width: 40px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    display: none;

    &:hover {
        background: lighten($backrgound-base-color, 10%);
    }
}
header.main-navbar .hamburger .line {
    border: 2px solid #fff;
    margin-top: 2px;
    margin-bottom: 2px;
}
header.main-navbar .navbar{
    display: flex;
    margin-right: 20px;
    align-items: center;
}
header.main-navbar .navbar .u-list .list {
    display: inline;
    margin-right: 15px;
    padding: 5px 10px;
    transition: .2s;
    border-radius: 5px;

    &:hover:not(.list.active) {
        background: lighten($backrgound-base-color, 10%);
    }
    &.active {
        background: lighten($backrgound-base-color, 10%);
    }
}
header.main-navbar .navbar .u-list .list .a-link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
header.main-navbar .navbar .sign-btn {
    margin-left: 30px;
}

// body content
article.main {
    width: 100%;
    min-height: calc(100vh - var(--nav-height));
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),url(../../assets/pietro-de-grandi-T7K4aEPoGGk-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
article.main .main-title {
    width: 100%;
    background: transparent;
}
article.main .main-title .header-text {
    margin-top: 0;
    text-align: center;
    font-size: 50px;
    padding: 30px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}
article.main .main-title .top-nav .u-list{
   display: flex;
   justify-content: center; 
}
article.main .main-title .top-nav .u-list .list {
    list-style: none;
    border: 1px solid $backrgound-base-color;
    background: #fff;

    &#nav-left {
        border-radius: 10px 0 0 10px;
    }
    &#nav-right {
        border-radius: 0 10px 10px 0;
    }
    &:hover:not(.list.active) {
        background: lighten($backrgound-base-color, 30%);
    }
    &.active {
        background: lighten($backrgound-base-color, 10%);
        
        & .a-link {
            color: #fff;
        }
    }

}
article.main .main-title .top-nav .u-list .list .a-link {
    text-decoration: none;
    color: $backrgound-base-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 20px;
}
// slide image container
article.main .featur .main-slide-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
article.main .featur .main-slide-container .slide-container {
    width: 700px;
    overflow: hidden;
    border: 4px solid #fff;
    background: #fff;
    border-radius: 10px;
}
article.main .featur .main-slide-container .slide-container .text {
    font-size: 30px;
    text-align: center;
    padding: 15px;
}
article.main .featur .main-slide-container .slide-container .slide-image {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
article.main .featur .main-slide-container .slide-container .slide-image .src_img {
    z-index: 0;
    width: 100%;
}
// end slide image container

article.tavelPage {
    background: url(../../assets/S__2433037.jpg);
    background-position: center;
    background-size: cover;
}
article.tavelPage .main-title .header-text {
    font-size: 70px;
}
article.tavelPage .main-title .header-text p{
    font-size: 20px;
    font-weight: normal;
}
article.tavelPage .featur {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    grid-gap: 20px;
}
article.tavelPage .featur .option {
    position: relative;
    width: 100%;
    height: 350px;
    cursor: pointer;
    overflow: hidden;

    &:hover .image {
        transform: scale(1.5);
        transition: .4s;
    }
}
article.tavelPage .featur .option:nth-child(2) {
    grid-column: 2 / 4;
    width: 100%;
}
article.tavelPage .featur .option:nth-child(2) .image {
    width: 100%;
}
article.tavelPage .featur .option .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .4s;
}
article.tavelPage .featur .option .text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: rgba(255, 255, 255, 0.816);
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 30px;
    transition: .7s;
}
// cafe page
article.cafe {
    background: $cafe-theme-color;
}
article.cafe .button-back {
    position: absolute;
    color: $backrgound-base-color;
    font-size: 70px;

    &:hover {
        color: lighten($backrgound-base-color, 10%);
    }
}
article.cafe .featur{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: calc(100vh - var(--nav-height));
}
article.cafe .featur .promote-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    margin-left: 90px;
}
article.cafe .featur .promote-text .header-text {
    font-size: 90px;
    text-align: center;
}
article.cafe .featur .promote-text .paragrhap {
    text-align: center;
    font-size: 20px;
}
article.cafe .featur .promote-text .paragrhap.header {
    margin-top: 50px;
}
article.cafe .featur .promote-text .footer { 
    margin-top: 5rem;
    text-align: center;
}
article.cafe .featur .promote-text .footer .text {
    font-size: 20px;
}
article.cafe .featur .promote-text .footer .point {
    height: 100px;
    position: relative;
    margin-top: 20px;
}
article.cafe .featur .promote-text .footer .point .element {
    font-size: 60px;
    position: absolute;
    font-family: kanit_thin;
}
article.cafe .featur .promote-text .footer .point .element:nth-child(1) {
    top: -30%;
    left: 15%;
}
article.cafe .featur .promote-text .footer .point .line {
    border: 1px solid $cafe-theme-seconds-color;
    position: absolute;
    left: 50%;
    height: 100px;
    rotate: 10deg;
}
article.cafe .featur .promote-text .footer .point .element:nth-child(3) {
    bottom: -30%;
    right: 15%;
}
article.cafe .featur .promote-image {
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
    grid-gap: 10px;
}
article.cafe .featur .promote-image .image-container{
    width: 450px;
    height: 100%;
}
article.cafe .featur .promote-image .image-container:nth-child(2) {
    grid-column-end: 3;
    grid-row-end: span 2;
}
article.cafe .featur .promote-image .image-container .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and(max-width: 1490px) {
    article.cafe .featur .promote-text .header-text {
        font-size: 60px;
    }
    article.cafe .featur .promote-image .image-container{
        width: 350px;
    }
} 
@media only screen and(max-width: 1250px) {
    header.main-navbar .navbar .u-list .list .a-link {
        font-size: 15px;
    }
    article.cafe .featur .promote-image {
        grid-template-columns: auto;
    }
    article.cafe .featur .promote-image .image-container:nth-child(2){
        display: none;
    }
}
@media only screen and(max-width: 1100px) {
    header.main-navbar .hamburger {
        display: flex;
        margin-right: 20px;
    }
    header.main-navbar .navbar {
        position: absolute;
        background: $backrgound-base-color;
        top: 100%;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 5px;
        right: 0;
        transition: .3s;
        display: none;

        &.active-absolute {
            display: flex;
        }
    }
    header.main-navbar .navbar .u-list {
        width: 100%;
    }
    header.main-navbar .navbar .u-list .list {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
    header.main-navbar .navbar .sign-btn {
        width: 100%;
        margin: 0;
    }
    header.main-navbar .navbar .sign-btn .btn{
        width: 100%;
        padding: 2px 4px;
    }   
}
@media only screen and(max-width: 900px) {
    article.cafe .featur .promote-text .paragrhap {
        text-align: left;
    }
}
@media only screen and(max-width: 740px) {
    article.tavelPage .featur {
        grid-template-columns: auto;
    }
    article.tavelPage .featur .option:nth-child(2) {
        grid-column: auto;
        width: 100%;
    }
    article.main .featur .main-slide-container .slide-container {
        width: 500px;
        transition: .4s;
    }
}
@media only screen and(max-width: 500px) {
    article.main .featur .main-slide-container .slide-container {
        width: 400px;
        top: 55%;
    }
    header.main-navbar .logo {
        font-size: 35px;
    }
    article.main .main-title .top-nav .u-list .list .a-link {
        padding: 2px 4px;
        font-size: 18px;
    }
    article.main .featur .main-slide-container .slide-container .text {
        font-size: 20px;
    }
    article.cafe .featur {
        flex-direction: column;
        justify-content: center;
    }
    article.cafe .featur .promote-text .paragrhap {
        text-align: center;
    }
    article.cafe .featur .promote-image {
        grid-gap: 10px;
        margin-top: 20px;
    }
    article.cafe .featur .promote-image .image-container {
        width: 400px;
        margin: 30px;
    }
    article.cafe .featur .promote-text {
        margin-left: 0;
    }
}
@media only screen and(max-height: 850px) {
    article.main .featur .main-slide-container .slide-container {
        top: 80%;
    }

}

// slide animation
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    85% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}